
.container{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    
    
}

.Middle{
    display: flex;
    padding: 20px;
    margin: auto;
}
.Top{
    display: flex;
    flex: 1;
}

.Bottom{
    display: flex;   
    flex: 1;
    flex-direction: column;
    
}

.img1{
    width: 100%;
    object-fit: contain;
    
}
.img2{
    width: 100%;
    object-fit: contain;
    
}

.image-bottom{    
    width: 80%;
    margin: auto;
    object-fit: contain;
}

.btm1{
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    
}

.btm2{
    display: flex;
    flex: 1;
    text-align: center;
    background-color: rgba(241, 42, 42, 0.911);
    padding: 50px;
    
    color: white;
}

.img-top{
    width: 100%;
    object-fit: contain;
    max-height: 150px;
}

.App{
    display:flex;
    flex-wrap: wrap;
Width:100%;
    background: linear-gradient(rgb(241, 241, 241),rgb(250, 249, 210));  
    
}

.tab-1{
    flex: 1;
   
}

.tab-2{
    flex: 2;
    font-family:serif;   
}

.b{
   margin: auto;
    display: flex;
}

.line{
    background-color: rgba(241, 42, 42, 0.911);
    width: 100%;
    padding: 1px;
}
